<div class="mypage-container">
    <div class="mypage-inner">
        <div class="page-header">
            <h1 class="page-title">プラン変更</h1>
            <button mat-button aria-label="ダッシュボード" class="white f-16" routerLink="/">
                <b>ダッシュボードへ戻る</b>
                <mat-icon>reply</mat-icon>
            </button>
        </div>
        <mat-card>
            <mat-card-content>
                <div class="plan-container">
                    <p class="current-plan">
                        現在の購入プラン
                    </p>
                    <div *ngFor="let plan of plans" class="current-plan">
                      <p *ngIf="activePlans.includes(plan.id)">
                        {{ plan.name }}
                      </p>
                    </div>

                <div class="plans">
                    <div class="plans-inner">
                        <mat-card *ngFor="let plan of plans; index as i">
                            <mat-card-header>
                                <mat-card-title>{{ plan.name }}</mat-card-title>
                                <mat-card-subtitle>{{
                                    plan.description
                                    }}</mat-card-subtitle>
                            </mat-card-header>
                             <mat-card-actions>
                                <button *ngIf="pendingPlans.includes(plan.id)" mat-raised-button class="pending-button" (click)="onOpenDialog(plan.id)">
                                    申請中
                                </button>
                               <button *ngIf="activePlans.includes(plan.id)" mat-raised-button [disabled]="true">
                                    申込む
                                </button>
                                <button *ngIf="!pendingPlans.includes(plan.id) && !activePlans.includes(plan.id)" mat-raised-button [color]="'primary'"  [disabled]="(activePlans.includes(plan.id))" (click)="onOpenDialog(plan.id)" >
                                    申込む
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
