.plan-container {
    margin-top: 25px;
    padding: 0px 15px 15px 15px;
    border: 1px solid black
}
.current-plan {
    color: #050505;
}
.plans {
    overflow-x: auto;
    &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        min-width: 1100px;
    }
}
.mat-mdc-card {
    &-header {
        justify-content: center;
        text-align: center;
    }
    &-title {
        font-size: 24px;
    }
    &-subtitle {
        margin-top: 3px;
    }
    &-actions {
        margin-top: 12px;
        justify-content: center;
        text-align: center;
        .mdc-button {
            width: 150px;
            letter-spacing: 3px;
            font-size: 16px;
        }
        .pending-button {
          background-color: #ffc107;
          color: white;
        }
    }
    &-content {
        margin-top: 3px;
        padding: 0 30px 30px !important;
        p {
            display: flex;
            align-items: center;
        }
    }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
