<div class="mypage-container">
    <div class="mypage-inner">
        <img
            src="../../../assets/images/logo_white.png"
            alt="StructuralEngine"
            class="logo-structuralengine"
        />
        <h1 class="page-title">プラン変更</h1>
        <p class="current-plan">現在の購入プラン：トライアルプラン</p>
        <div class="plans">
            <div class="plans-inner">
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>プロ版</mat-card-title>
                      <mat-card-subtitle>中小企業向け法人プランです。</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">申込む</button>
                    </mat-card-actions>
                    <mat-card-content>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>エンタープライズ版</mat-card-title>
                      <mat-card-subtitle>大企業向け法人プランです。</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <button mat-raised-button color="primary">申込む</button>
                    </mat-card-actions>
                    <mat-card-content>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>アカデミックプラン</mat-card-title>
                      <mat-card-subtitle>学生や研究期間向けのプランです。</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">申込む</button>
                    </mat-card-actions>
                    <mat-card-content>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                      <p><mat-icon>check</mat-icon>1日あたり1,000,000ポイント</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
