<div class="container">
    <div class="container-inner">
        <p class="company-name">株式会社Malme</p>
        <div>
            <img
                mat-card-image
                src="../../../assets/images/invited.png"
                alt="招待されました"
            />
        </div>
        <p class="description">StructuralEngineの組織に招待されました。</p>
        <div>
            <button mat-raised-button color="primary" class="btn-1">
                承&nbsp;認
            </button>
        </div>
    </div>
</div>
