.container {
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.company-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

img {
    width: 200px;
}

.description {
    color: #ffffff;
    margin: 0 0 50px;
}