// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$structuralengine-platform-primary: mat.define-palette(mat.$indigo-palette);
$structuralengine-platform-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$structuralengine-platform-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$structuralengine-platform-theme: mat.define-light-theme((color: (primary: $structuralengine-platform-primary,
        accent: $structuralengine-platform-accent,
        warn: $structuralengine-platform-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($structuralengine-platform-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap');

/* BEGIN: Helper Classes */
// Margin, Padding
$spaceamounts: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (
  top,
  bottom,
  left,
  right
); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .mx-#{$space} {
      margin-left: #{$space}px !important;
      margin-right: #{$space}px !important;
    }

    .my-#{$space} {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }

    .ma-#{$space} {
      margin: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

    .px-#{$space} {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }

    .py-#{$space} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }

    .pa-#{$space} {
      padding: #{$space}px !important;
    }
  }
}

// Custom helper classes
.notify-success>div {
  background-color: #50a74e !important;

  .mdc-button__label {
    color: #d3d3c2 !important;
  }
}

.notify-failed>div {
  background-color: #d83333 !important;

  .mdc-button__label {
    color: #d3d3c2 !important;
  }
}

.fullwidth {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.border-1 {
  border: 1px solid #000000;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn-1 {
  padding: 0 30px !important;
}

.btn-2 {
  padding: 0 30px !important;
  flex-direction: row-reverse;

  .mat-icon {
    margin-left: 8px !important;
    margin-right: -4px !important;
  }
}

.bold {
  font-weight: 600;
}

.white {
  color: #ffffff !important;
}

/* END: Helper Classes */

// Global Styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

li {
  list-style-type: none;
}

// MyPage Styles
div.mypage-container {
  min-height: calc(100vh - 50px);
  background-image: url(assets/images/background_black.jpg);
  background-size: cover;
  background-position: center;
}

div.mypage-inner {
  max-width: 1200px;
  margin: auto;
  padding: 100px 15px 50px;

  .logo-structuralengine {
    width: 200px;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-title {
    color: #ffffff;
    font-size: 26px;
  }
}